.hero-section {
    color: var(--text-color-white);
    text-align: center;
    padding-top: 280px;
    padding-bottom: 285px;
}

.hero-title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 22px;
    line-height: 1.67;
    margin-bottom: 30px;
}

.hero-link {
    background-color: var(--text-color-green);
    width: 165px;
    height: 48px;
    border-radius: 5px;
    padding: 10px 30px;
}

.hero-section {
    color: var(--text-color-white);
    text-align: center;
    padding-top: 144px;
    padding-bottom: 95px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url(../images/background/mobile1x.jpg);
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
        background-image: url(../images/background/mobile2x.jpg);
    }
}

.hero-title {

font-weight: 300;
font-size: 52px;
line-height: 1.27;
margin-bottom: 16px;

text-align: center;
}

.hero-text {
    font-size: 22px;
    line-height: 1.67;
    margin-bottom: 27px;
}

.hero-link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--text-color-green);

    width: 165px;

    border-radius: 5px;

    color: var(--text-color-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    transition: background-color var(--time-animation) var(--cubic-bezier);
}

.hero-link:hover,
.hero-link:focus {
    background-color: var(--hover-background);
}
  
.hero-section {
    padding-top: 407px;
    padding-bottom: 412px;
    background-image: url(../images/background/tablet1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: url(../images/background/tablet2x.jpg);
    }
}



@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 55px;
        margin-bottom: 25px;
    }

    .hero-link {
        font-size: 18px;
        line-height: 1.56;
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        padding-top: 279px;
        padding-bottom: 284px;
        max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 429px) {
    .hero-section {
        background-image: url(../images/background/tablet1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero-section {
        background-image: url('../images/background/tablet2x.jpg');
        }
    }
}
  
@media screen and (min-width: 769px) {
    .hero-section {
        background-image: url(../images/background/descktop1x.jpg);
    }
  
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero-section {
        background-image: url('../images/background/descktop2x.jpg');
        }
    }
}

