
<section class="team">
  <div class="container">
   <h2 class="team-title">Our Team Members</h2>
     <ul class="team-list list">
       <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Alex.jpg"
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Alex Conor</h3>
                <p class="team-overlay-prof">Designer, USA</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Alex@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Fred.jpg"
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Fred Nylon</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Fred@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Jan.jpg"
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Jan Bref</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">jan@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Joue.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Joue Brill</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Joue@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Mac.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Mac Hook</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">mac@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Mark.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Mark daniel</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 430-1224</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Mark@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Pol.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Pol Maron</h3>
                <p class="team-overlay-prof">Designer, Germany</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 455-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">pol@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Rebeca.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Rebeca Nice</h3>
                <p class="team-overlay-prof">Designer, USA</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Rebeca@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Ron.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Ron Bar</h3>
                <p class="team-overlay-prof">Designer, Slovakay</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 405-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">ron@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Sindie.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Sidie Croufort</h3>
                <p class="team-overlay-prof">Team Lead, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 410-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">Sidie@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Tom.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Tom Mitchel</h3>
                <p class="team-overlay-prof">Frontend, USA</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1554</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">tom@email.com</a>
            </li>
           </div>
         </div>
      </li>
      <li class="team-list-item">
           <div class="team-thamb">
             <img
              src="./images/team/Vin.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-img"
              />
              <div class="team-overlay">
                <div>
                <h3 class="team-overlay-name" >Vin Diesel</h3>
                <p class="team-overlay-prof">Designer, England</p>
              </div>
              <ul class="team-overlay-soc list">
                 <li>
                <a href="">
                  <svg class="team-icon-soc" width="16" height="16">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
               </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
         
            <ul class="team-overlay-contacts list">
            <li class="item">
              <a href="tel:+13784001234" class="overlay-contacts-link link"
                >+1 (378) 400-1234</a>
            </li>
            <li class="item">
              <a href="mailto:julie@email.com" class="overlay-contacts-link link">vin@email.com</a>
            </li>
           </div>
         </div>
      </li>
    </ul>
  </div>
</section>
