<section class="blog">
    <div class="blog-list container">
      <div class="blog-item blog-inform">
        <p class="blog-date">April 16 2020</p>
        <h2 class="blog-title">Blog Post One</h2>
        <p class="blog-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button type="button" class="blog-buttom">Read Our Blog</button>
      </div>
      <div class="blog-item">
        <img
          src="./images/rectangle.jpg"
          alt="a notebook,a pensil and a cup of tea"
          width="680"
        />
      </div>
    </div>
  </section>