    <header>
      <div class="container">
        <!-- Logo -->
        <nav class="nav-main">
          <a href="" class="logo">
            <svg class="logo-svg" width="40px" height="35px">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <span class="logo-green">Finance</span
            ><span class="logo-wite">Ledger</span></a
          >

          <!-- Nav -->
          <ul class="nav-list">
            <li><a href="" class="nav-link">Home</a></li>
            <li><a href="" class="nav-link">About</a></li>
            <li><a href="" class="nav-link">Cases</a></li>
            <li><a href="" class="nav-link">Blog</a></li>
            <li><a href="" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>