<section class="section">
    <p>What you are looking for</p>
    <h2>We provide bespoke solutions</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
      ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
      illum dolore explicabo ab dolores itaque rerum temporibus doloribus
      iste maiores deleniti?
    </p>
    <a href="#">Read More</a>
    <img
      src="./images/team.jpg"
      alt="men in black coats"
      width="680"
      height="460"
    />
  </section>